<footer class="nga-footer">
  <div class="hint">
    <div class="container text-center text-md-start">
      <div class="row py-4">
        <div class="col">
          <div style="font-size:.75em" class="h6 mb-0 text-white">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>