<header class="navbar navbar-expand-lg navbar-dark fixed-top nga-navbar">
  <nav class="container" aria-label="Main navigation">

    <a routerLink="/" class="navbar-brand" >
      <span class="nga-navbar-logo mx-1">Repo search app</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ">
        <li class="nav-item" routerLinkActive="nav-link-hover">
          <a class="nav-link" aria-current="page" routerLink="/search" >
            <i class="fa fa-magnifying-glass me-1"></i>Search</a>
        </li>
        <li class="nav-item" routerLinkActive="nav-link-hover">
          <a class="nav-link" aria-current="page" routerLink="/history" >
            <i class="fa fa-history me-1"></i>History</a>
        </li>
        
        

      </ul>




      
      
    </div>
    <ul class="navbar-nav float-right">
       
      <li class="nav-item dropdown ">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li ><a routerLinkActive="nav-link-blue" class="dropdown-item" routerLink="/page1" >Page 1</a></li>
            <li ><a  routerLinkActive="nav-link-blue" class="dropdown-item" routerLink="/page2" >Page 2</a></li>
            <li><a class="dropdown-item" >Mobile</a></li>
          </ul>
        </div>
      </li>

    </ul>
  </nav>
</header>