<div class="card">
    <div class="card-body">
<div class="row g-3">
    <form  name="search-form" id="sfr"  (ngSubmit)="search()">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row g-3" >
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label for="name" style="margin-top: 10px;" class="form-label">Search by</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                <mat-form-field  appearance="fill">
                                    <mat-label></mat-label>
                                    <input type="text" [(ngModel)]="searchPhrase" (ngModelChange)="saveState('searchPhrase',searchPhrase)" matInput placeholder="Search" name="searchPhrase"  [required]="!advanced" minlength="3">
                                  </mat-form-field>
                            </div> 
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                                <div class="form-check">
                                        <mat-checkbox [(ngModel)]="searchInName" name="searchInName" (ngModelChange)="saveState('searchInName',searchInName)" [required]="!searchInDescription && !searchInReadme" >Name</mat-checkbox>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-check">
                                        <mat-checkbox [(ngModel)]="searchInDescription" (ngModelChange)="saveState('searchInDescription',searchInDescription)" name="searchInDescription">Description</mat-checkbox>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <div class="form-check">
                                        <mat-checkbox [(ngModel)]="searchInReadme" (ngModelChange)="saveState('searchInReadme',searchInReadme)" name="searchInReadme">Readme</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <button mat-raised-button color="primary" style="margin-right: 2%;" type="submit" ><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                        <button  (click)="reset()" mat-raised-button type="reset" ><i class="fa-solid fa-arrow-rotate-right"></i></button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                        <button mat-raised-button  type="button" style="float: right;" (click)="toggleAdvanced()" >Advanced
                            <i *ngIf="!advanced" class="fa-solid fa-plus"></i><i *ngIf="advanced" class="fa-solid fa-minus"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div  *ngIf="advanced">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <br>
                <div class="row g-3">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="row ">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label for="name" style="margin-top: 10px;" class="form-label">User Name</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                    <mat-form-field  appearance="fill">
                                        <mat-label></mat-label>
                                        <input type="text" [(ngModel)]="username" (ngModelChange)="saveState('username',username)"  matInput placeholder="Username" name="Username" minlength="3">
                                      </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <mat-form-field class="chip-list" appearance="fill">
                            <mat-label>Language</mat-label>
                            <mat-chip-list #languageList aria-label="Language selection">
                              <mat-chip
                                *ngFor="let language of languages"
                                (removed)="removeLang(language)">
                                {{language}}
                                <button matChipRemove>
                                  <mat-icon>cancel</mat-icon>
                                </button>
                              </mat-chip>
                              <input
                                placeholder="New language..."
                                [formControl]="languageCtrl"
                                [matAutocomplete]="auto"
                                #languageInput
                                [matChipInputFor]="languageList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="addLang($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedLang($event)">
                              <mat-option *ngFor="let language of filteredLanguages | async" [value]="language">
                                {{language}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <mat-form-field class="chip-list" appearance="fill">
                            <mat-label>Topics</mat-label>
                            <mat-chip-list #topicList aria-label="Topic selection">
                              <mat-chip *ngFor="let topic of topics" (removed)="removeTopic(topic)">
                                {{topic}}
                                <button matChipRemove>
                                  <mat-icon>cancel</mat-icon>
                                </button>
                              </mat-chip>
                              <input placeholder="New topic..."
                                     [matChipInputFor]="topicList"
                                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                     [matChipInputAddOnBlur]="addOnBlur"
                                     (matChipInputTokenEnd)="addTopic($event)">
                            </mat-chip-list>
                          </mat-form-field>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <label for="name" style="margin-top: 10px;" class="form-label">Organisation</label>
                            </div>
                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                    <mat-form-field  appearance="fill">
                                        <mat-label></mat-label>
                                        <input type="text" [(ngModel)]="organisation" (ngModelChange)="saveState('organisation',organisation)" matInput placeholder="Organisation" name="organisation" minlength="3" >
                                      </mat-form-field>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="row">
                <div class="card col-md-6">
                    <div class="row">
                        <div class="col-md-2 justify-content-center">
                         <span><i class="fa fa-star"></i> Stars</span>   
                        </div>
                        <div class="col-md-10 justify-content-center">
                            <mat-radio-group  [(ngModel)]="starsSelect" (ngModelChange)="saveState('starsSelect',starsSelect)" name="starsSelect" aria-label="Select an option">
                                <mat-radio-button class="radio-margin" value="equal">equal</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="greater">greater than</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="less">less then</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="between">between</mat-radio-button>
                              </mat-radio-group>
                        </div>
                 
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field  appearance="fill">
                                <mat-label></mat-label>
                                <input type="number" [(ngModel)]="starsMin" (ngModelChange)="saveState('starsMin',starsMin)" matInput placeholder="Stars" name="starsMin" min="0" [required]="starsSelect !=''">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field  appearance="fill" *ngIf="starsSelect=='between'">
                                <mat-label></mat-label>
                                <input type="number" [(ngModel)]="starsMax" (ngModelChange)="saveState('starsMax',starsMax)" matInput placeholder="Stars" name="starsMax"  min="0" required >
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="card col-md-6">
                    <div class="row">
                        <div class="col-md-2 justify-content-center">
                            <i class="fa-solid fa-calendar"></i>  Created
                        </div>
                        <div class="col-md-10 justify-content-center">
                            <mat-radio-group  [(ngModel)]="dateSelect" (ngModelChange)="saveState('dateSelect',dateSelect)" name="dateSelect" aria-label="Select an option">
                                <mat-radio-button class="radio-margin" value="before">before</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="onorbefore">on or before</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="after">after</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="onorafter">on or after</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="between">between</mat-radio-button>
                              </mat-radio-group>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="minPicker"  (ngModelChange)="saveState('dateMin',dateMin)" [(ngModel)]="dateMin" name="dateMin" [required]="dateSelect !=''">
                                <mat-datepicker-toggle matSuffix [for]="minPicker"></mat-datepicker-toggle>
                                <mat-datepicker #minPicker></mat-datepicker>
                              </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" *ngIf="dateSelect=='between'">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="maxPicker"  (ngModelChange)="saveState('dateMax',dateMax)" [(ngModel)]="dateMax" name="dateMax" required>
                                <mat-datepicker-toggle matSuffix [for]="maxPicker"></mat-datepicker-toggle>
                                <mat-datepicker #maxPicker></mat-datepicker>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="card col-md-6">
                    <div class="row">
                        <div class="col-md-2 justify-content-center">
                            <i class="far fa-exchange"></i> Size
                        </div>
                        <div class="col-md-10 justify-content-center">
                            <mat-radio-group  [(ngModel)]="sizeSelect"  (ngModelChange)="saveState('sizeSelect',sizeSelect)" name="sizeSelect" aria-label="Select an option">
                                <mat-radio-button class="radio-margin" value="equal">equal</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="greater">greater than</mat-radio-button>
                                <mat-radio-button class="radio-margin" value="less">less then</mat-radio-button>
                                <mat-radio-button sclass="radio-margin" value="between">between</mat-radio-button>
                              </mat-radio-group>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field  appearance="fill">
                                <mat-label></mat-label>
                                <input type="number" [(ngModel)]="sizeMin"  (ngModelChange)="saveState('sizeMin',sizeMin)" matInput placeholder="Size" name="sizeMin" [required]="sizeSelect != ''"  min="0">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field  appearance="fill" *ngIf="sizeSelect=='between'">
                                <mat-label></mat-label>
                                <input type="number" [(ngModel)]="sizeMax"  (ngModelChange)="saveState('sizeMax',sizeMax)" matInput placeholder="Size" name="sizeMax" required min="0">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row p-4">
                    <div *ngIf="errors.length">
                        <div *ngFor="let err of errors" class="alert alert-danger justify-content-center" role="alert">
                         {{err}}
                        </div>
                    </div>
                    <div *ngIf="items && items.length==0 && loaded">
                        <div class="alert alert-primary justify-content-center" role="alert">
                            No Results found
                          </div>
                        </div>
                    
                    <div class="card bg-gray">
                        <div class="row justify" style="margin-top: 5px;" *ngIf="items && items.length>0">
                            <div class="col">
                                <span> Sort by: &nbsp;</span>   
                                <mat-radio-group  [(ngModel)]="sortSelect" (ngModelChange)="search()" name="sortSelect" aria-label="Select an option">
                                    <mat-radio-button class="radio-margin" value="default">default</mat-radio-button>
                                    <mat-radio-button class="radio-margin" value="stars">stars</mat-radio-button>
                                    <mat-radio-button class="radio-margin" value="forks">forks</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                            <div class="col">
                                <span> Order by: &nbsp;</span>   
                                     <mat-radio-group  [(ngModel)]="orderSelect" name="orderSelect"  (ngModelChange)="search()" aria-label="Select an option">
                                        <mat-radio-button class="radio-margin" value="desc">desc</mat-radio-button> 
                                        <mat-radio-button class="radio-margin" value="asc">asc</mat-radio-button>
                                       </mat-radio-group>     
                            </div>
                               <div class="col justify-content-end">
                                   <p class="text-end">Total results: {{pages}}</p> 
                               </div>
                               <hr>
                        </div>
                        <div *ngIf="!loaded && loading" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                            <mat-spinner  ></mat-spinner>
                        </div>
                        <div class="table-responsive nga-httpclient-table blue-gradient" *ngIf="loaded && items && items.length>0">
                            <table class="table  table-responsive-md">
                                <tbody>
                                    <tr *ngFor="let item of items">
                                        <td>
                                            <div class="row">  
                                                <span class="fs-5">{{item.name}} </span>
                                            </div>
                                            <div class="row">
                                                <a class="text-wrap" href="{{item.html_url}}" target="_blank">{{item.full_name}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <span class="text-nowrap"> Stars: {{item.stargazers_count}} </span>
                                            </div>
                                            <div class="row">
                                                <span class="text-nowrap">Watchers: {{item.watchers}}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="row">
                                                <span class="text-nowrap"> Forks: {{item.forks_count}}</span>
                                            </div>
                                            <div class="row">
                                                <span class="text-nowrap">Issues: {{item.open_issues_count}}</span>
                                            </div>
                                        </td>
                                        <td class="d-none d-md-table-cell d-lg-table-cell d-xl-table-cell">
                                            {{item.description}}</td>
                                        <td>
                                            <span class="badge bg-primary">{{item.language}}</span>
                                        </td>
                                        <td>
                                            <span class="text-nowrap">Created at:</span> {{item.created_at | date:'shortDate'}}
                                            <span class="text-nowrap">Updated at:</span> {{item.updated_at | date:'shortDate'}}
                                        </td>
                                        <td>
                                            By: {{item.owner.login}}
                                        </td>
                                        <td>
                                            <a href="{{item.owner.html_url}}" target="_blank"><img class="avatar"
                                                    src="{{item.owner.avatar_url}}" alt=""></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="items.length>0">
                        <mat-paginator [length]="pages"
                        [pageSize]="10"
                        [pageSizeOptions]="[10]"
                        (page)="pagination($event)"
                        aria-label="Select page">
                    </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>