@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
body {
  padding-top: 3.5rem;
  font-family: "Roboto", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chip-list {
  width: 100%;
}
.radio-margin{
  margin-right: 10px;
}